:root {
    --border-radius-small: 3px;
    --font-family-main: sans-serif;
    --font_bold: 600;
    --transition: .4s;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --color-white: #fff;
    --color-black: #000;
    --color-gray: #9c9c9c;
    --color-light-gray: #dfe2df;
    --color-blue: #6a83fb ;
}

*, *:after, *:before {
    box-sizing: border-box;
}

img {
    display: block;
}